@{
    ViewData["Title"] = "Home Page";
}

<style>

</style>
<div class="pageOne">
    <div>
        <ul class="nav nav-pills">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">My Portfolio</a></li>

            <li class="pull-right">
                <a asp-area="" asp-controller="Home" asp-action="About">About Me</a></liclass="pull-right">
                @*<li class="pull-right"><a asp-area="" asp-controller="Home" asp-action="Projects">Portfolio</a></li>*@
            <li class="pull-right"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        </ul>
    </div>
    <div class="block text-center">
        <h1>Sravanthi Velaga</h1>
        <h3>Always Learning. Always Evolving</h3>
    </div>

    <div class="btnlist text-center">
        <a class="btn btn-default" href="#">Twitter</a>
        <a class="btn btn-default" href="#">Github</a>
        <a class="btn btn-default" href="#">Linkedin</a>

    </div>
</div>

<div class="pageTwo">
    <div class="row">
        <div class=" text-center">
            <h1>My Expertise</h1>
            <p>I've got chops in all phases of the design process.</p>
            <div class="row abt">
                <div class="col-md-4">
                    <i class="fa fa-diamond"></i>
                    <h2>Ideas</h2>
                    <p>
                        I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-magic"></i>
                    <h2>design</h2>
                    <p>
                        I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-code"></i>
                    <h2>Code</h2>
                    <p>I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</p>
                </div>
            </div>

        </div>

    </div>
</div>